// Graphical variables
@import "config/colors";
@import "config/fonts";

// External libraries
@import "bootstrap/scss/bootstrap";

//CSS partial
@import "components/index";

body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 62px;
  font-weight: 800;
  color: $blue;
}
